ADMIN_SECRET=senha_admin_super_secreta
CHATWOOT_URL=http://rails:3000
BAILEYS_SERVICE_URL=http://baileys:3001
BAILEYS_ADMIN_TOKEN=mesmo_token_do_baileys_service
NEXT_PUBLIC_CHATWOOT_URL=http://localhost:3000
